.searchBox {
  display: flex;
  height: 40px;
  width: 20vw;
  margin: 0 10px;
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
              inset -2px -2px 12px rgba(255, 255, 255, 0.5),
              inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.searchBox input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding-left: 20px;
}

.searchBox input::placeholder {
  color: #aaa;
  font-size: 0.88rem;
  font-style: italic;
}

.searchBox input:focus {
  outline: none;
}

.searchBox button {
  background: none;
  border: none;
}

.searchBox img {
  height: 28px;
  padding-right: 20px;
}


/*===================== MEDIA QUERIES =====================*/

/*============= FOR MOBILE & TABLETS =============*/
@media (max-width: 888px) {
  .searchBox {
    width: 95%;
    margin-top: 10%;
  }
}