.loaderContainer {
  height: 100vh;
  width: 100vw;
  background-color: teal;
}

.loader, .loaderLeft, .loaderRight {
  background-color: white;
  -webkit-animation: load-animation 1s infinite ease-in-out;
  animation: load-animation 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loaderLeft {
  animation-delay: -0.32s;
  left: 49%;
}

.loaderRight {
  left: 51%;
  animation-delay: -0s;
}

/*================ KEYFRAMES ================*/
@-webkit-keyframes load-animation {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load-animation {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*============== MEDIA QUERIES ==============*/
@media (max-width: 888px) {
  .loaderLeft {
    left: 46%;
  }

  .loaderRight {
    left: 54%;
  }
}
