.navigation {
  display: flex;
  align-items: center;
  background-color: #f2f3f7;
  width: 100vw;
  height: 80px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
              -2px -2px 12px rgba(255, 255, 255, 0.5),
              inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              2px 2px 8px rgba(0, 0, 0, 0.15);
}

.navItems {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.navItems a {
  display: flex;
  margin: 0 5px;
}

.spacer {
  flex: 1;
}

.drawer {
  display: none;
}


/*===================== MEDIA QUERIES =====================*/

/*============= FOR MOBILE & TABLETS =============*/
@media (max-width: 888px) {  
  .navigation {
    height: 50px;
  }
  
  .navItems {
    display: none;
  }

  .responsive {
    display: none;
  }

  .drawer {
    display: block;
  }
}
